extends layout

block content
        script(src='/scripts/jquery-2.2.4.min.js')
        script(src='/scripts/dropzone.js')
        script(src='/scripts/dropzoneSettings.js')

        #simpleUpload
                .meter
                        span.roller

        #dropzone
                form.dropzone#my-dropzone(role='form', action="/upload",method="post")
                        .fallback                               
                            input.form-control(type='file', name='file')
                        .input-group
                            input.form-control(type='input', name='email', id='email', placeholder='Podaj swoj adres email')
                            span.input-group-btn
                                button.btn.btn-submit(type='button', id='create-album-button') Go!