extends ../node_modules/jade-bootstrap/_bootstrap
append styles
	// Custom styles for this template
	link(href='https://getbootstrap.com/examples/jumbotron/jumbotron.css', rel='stylesheet')
	link(href='/stylesheets/dropzone.css', rel='stylesheet')

block body
	nav.navbar.navbar-inverse.navbar-fixed-top
		.container
			.navbar-header
				button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href='/') Strona główna
			#navbar.navbar-collapse.collapse
				if (!user)				
					form.navbar-form.navbar-right(role='form', action="/login",method="post")		
							.form-group
								input.form-control(type='text', name="username", placeholder='Login')
							.form-group
								input.form-control(type='password', name="password", placeholder='Hasło')
							button.btn.btn-success(type='submit') Zaloguj
					a.navbar-brand.navbar-right(href="/register") Zarejestruj 
				else
					a.navbar-brand.navbar-right(href="/logout") Wyloguj
					a.navbar-brand.navbar-right #{user.username}
	.jumbotron
		.container
			h1 Hello, world!
			p
				| This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.
			p
				a.btn.btn-primary.btn-lg(href='#', role='button') Learn more »
	.container
		.row
		block content
			
		hr
		footer
			p © Company 2014