<style>img {
    max-width:auto; 
    max-height:500px;
  }
</style>
{{#images.length}}
    <h3>Twój album:</h3>
    <center>
     <table>
        {{#images}}
        <center>
            <tr>
                <center><th><center><img src="{{link}}"/></center></th></center>
            </tr>
        </center>
        {{/images}}
    </table>   
    </center>
{{/images.length}}
    
{{#anEmptyArray.length}}
    <h3>No images to show.</h3>
{{/anEmptyArray.length}}